<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><table class="table table-hover">
<table class="table table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>E-mail</th>
      <th>Gender</th>
      <th>Birthdate</th>
      <th>Country</th>
      <th>Company</th>
      <th>Color</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < persons.length; i++) { %>
    <tr style="transform: rotate(0);">
      <td scope="row"><a href="<%= persons[i].ID %>/details" class="stretched-link"><%- i+1 %></td>
      <td><%= persons[i].Firstname %></td>
      <td><%= persons[i].Lastname %></td>
      <td><%= functions.makeEmail(persons[i].Firstname, persons[i].Lastname, persons[i].Company,) %></td>
      <td><%= persons[i].Gender %></td>
      <td><%= functions.formatDate(persons[i].Birthdate) %></td>
      <td><%= persons[i].Country %></td>
      <td><%= persons[i].Company %></td>
      <td style="background-color: <%= persons[i].Color %>"><%= functions.makeBigLetters(persons[i].Color) %></td>
    </tr>
    <% } %>
  </tbody>
</table>
